<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <div id="app">
    <div class="part-1">
      <div v-if='show'>yes</div>
      <div v-else='show'>no</div>
      <button @click='toggleShow'>Toggle</button>
    </div>
    <br>
    <div class="part-2">
      <div v-if='number===1'>one</div>
      <div v-else-if='number===2'>two</div>
      <div v-else='number>2'>bigger than two</div>
      <button @click='increaseNum'>increase</button>
      <button @click='setOne'>setOne</button>
      <button @click='decreaseNum'>decrease</button>
    </div>
    <br>
    <div class="part-3">
      <template v-if='showTemp'>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
      </template>
      <template v-else='showTemp'>
        <div>a</div>
        <div>b</div>
        <div>c</div>
        <div>d</div>
      </template>
      <button @click='toggleList'>toggle list</button>
    </div>

  </div>  
  <script>
    new Vue({
      el: '#app',
      data: {
        show: true,
        number: 1,
        showTemp: true
      },
      methods: {
        toggleShow() {
          this.show = !this.show
        },
        increaseNum() {
          this.number++;
        },
        decreaseNum() {
          this.number--;
        },
        setOne() {
          this.number = 1;
        },
        toggleList() {
          this.showTemp = !this.showTemp
        }
      }
    })
  </script>
</body>
</html>