<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" :value="text1" @keyup='updateText1'>
    <div>text1: {{text1}}</div>
    <br>
    <input type="text" :value="text2" @change='updateText2'>
    <div>text2: {{text2}}</div>
    <br>
    <input type="text" :value="text3" @input='updateText3'>
    <div>text3: {{text3}}</div>
    <br>
    <input type="text" v-model='text4'> <!-- text3 와 text4는 같다 (v-bind:value='text', v-on:input='인풋함수' => v-model=('text'))-->
    <div>text4: {{text4}}</div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        text1: '',
        text2: '',
        text3: '',
        text4: '',
      },
      methods: {
        updateText1(e) {
          this.text1 = e.target.value
        },
        updateText2(e) {
          this.text2 = e.target.value
        },
        updateText3(e) {
          this.text3 = e.target.value
        },
       
      }

    })
  </script>
</body>
</html>